{% extends 'base.html.twig' %}
{% block title %} Plan Nabave {% endblock %}
{% block body %}

    
    <h1>{{cpv.code}}</h1>
    <p>{{cpv.description}}</p>
    <hr>
    <a href="/products">Prethodna Stranica</a>
{% endblock %}